.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/hero.jpeg");
  background-size: cover;
  background-position: center;
  color: $white;
  height: 15.625rem;
  border-radius: $border-radius-lg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
