.tag {
  background: $gray-600;
  border-radius: $border-radius-sm;
  height: 5rem;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.2s;
  text-decoration: none;
  &:hover {
    background: $primary;
    color: $white;
  }
}
